html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(lightgray, black);    
}
body{
    color: white;
    font-family: sans-serif;
}
#myLogo{
    display: block;
    position: absolute;
    top:3rem;
    bottom:0;
    left: 0;
    right: 0;
    margin: auto;
    
}